swiper-container.banner {
  width: 100%;
  height: calc(100% - 197px);
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media(max-width:991px){
  swiper-container.banner { 
    height: 300px;
  }
}

.banner swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner swiper-slide::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 136px 49px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px 0px 136px 49px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 0px 136px 49px rgba(0, 0, 0, 0.9);
  z-index: 2;
}


.banner swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(min-width:992px) {
  .banner swiper-slide img.zoom-paneo-animate {
    height: inherit !important;
    object-fit: none !important;
    width: 100%;
    animation: inImageZoomPaneo 30s ease-in-out infinite;
    transform-style: preserve-3d;
  }

  .banner swiper-slide img.zoom-out-animate {
    animation: inImageZoomOut 30s ease-in-out infinite;
    transform-style: preserve-3d;
  }

  @keyframes inImageZoomOut {
    0% {
      transform: scale3d(1.8, 1.8, 1) skewY(0deg);
    }

    50% {
      transform: scale3d(1.2, 1.2, 1) skewY(0deg);
    }

    100% {
      transform: scale3d(1.8, 1.8, 1) skewY(0deg);
    }
  }

  @keyframes inImageZoomPaneo {
    0% {
      transform: translateY(73%) translateX(45%) scale3d(4, 4, 1) skewY(0deg);
    }

    20% {
      transform: translateY(73%) translateX(-45%) scale3d(4, 4, 1) skewY(0deg);
    }

    40% {
      transform: translateY(35%) translateX(0%) scale3d(2, 2, 1) skewY(0deg);
    }

    50% {
      transform: translateY(38%) translateX(0%) scale3d(2, 2, 1) skewY(0deg);
    }

    60% {
      transform: translateY(35%) translateX(0%) scale3d(2, 2, 1) skewY(0deg);
    }

    70% {
      transform: translateY(35%) translateX(0%) scale3d(2, 2, 1) skewY(0deg);
    }

    90% {
      transform: translateY(73%) translateX(-45%) scale3d(4, 4, 1) skewY(0deg);
    }

    100% {
      transform: translateY(73%) translateX(45%) scale3d(4, 4, 1) skewY(0deg);
    }
  }
}

swiper-container.banner {
  margin-left: auto;
  margin-right: auto;
}

swiper-container.service-banner {
  width: 100%;
  height: 100%;
}

.service-banner swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(31, 31, 31, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-banner swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


swiper-container.service-banner {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.service-banner swiper-slide.slide {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  filter: blur(12px);
  background-color: rgba(31, 31, 31, 1);
}

.service-banner swiper-slide.slide img {
  opacity: .2 !important;
}

.service-banner swiper-slide.slide.swiper-slide-visible.swiper-slide-active {
  filter: blur(0px);
  background-color: rgba(31, 31, 31, 0);
}

.service-banner swiper-slide.slide.swiper-slide-visible.swiper-slide-active img {
  opacity: 1 !important;
}

.service-banner {
  height: 60%;
  width: 100%;
}

.mySwiper2 {
  box-sizing: border-box;
  padding: 10px 0;
}

@media(min-width:993px) {
  .mySwiper2 {
    height: 550px;
  }

  .container-gallery-services {
    height: 100%;
  }
}

.mySwiper2 swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-services {
  --swiper-pagination-bottom: inherit !important;
  --swiper-pagination-top: 0px !important;
}

.gallery-project img {
  height: 100%;
  object-fit: cover;
}

.project-carousel swiper-slide {
  height: 550px;
  border-radius: 30px;
  overflow: hidden;
  width: auto !important;
  cursor: pointer;
}

@media(max-width:599px) {
  .project-carousel swiper-slide {
    width: 100% !important;
  }
}


.project-carousel swiper-slide img {
  object-fit: cover;
  width: fit-content;
  height: -webkit-fill-available;
}

.bg-gradient-slide {
  transition: all ease .3s;
}

.bg-gradient-slide::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 250%;
  background: rgba(5, 5, 5, 0);
  background: -moz-linear-gradient(top, rgba(5, 5, 5, 0) 0%, rgba(17, 17, 17, 0.85) 21%, rgba(30, 30, 30, 1) 44%, rgba(31, 31, 31, 1) 46%, rgba(31, 31, 31, 1) 68%, rgba(31, 31, 31, 0.98) 78%, rgba(31, 31, 31, 0.95) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(5, 5, 5, 0)), color-stop(21%, rgba(17, 17, 17, 0.85)), color-stop(44%, rgba(30, 30, 30, 1)), color-stop(46%, rgba(31, 31, 31, 1)), color-stop(68%, rgba(31, 31, 31, 1)), color-stop(78%, rgba(31, 31, 31, 0.98)), color-stop(100%, rgba(31, 31, 31, 0.95)));
  background: -webkit-linear-gradient(top, rgba(5, 5, 5, 0) 0%, rgba(17, 17, 17, 0.85) 21%, rgba(30, 30, 30, 1) 44%, rgba(31, 31, 31, 1) 46%, rgba(31, 31, 31, 1) 68%, rgba(31, 31, 31, 0.98) 78%, rgba(31, 31, 31, 0.95) 100%);
  background: -o-linear-gradient(top, rgba(5, 5, 5, 0) 0%, rgba(17, 17, 17, 0.85) 21%, rgba(30, 30, 30, 1) 44%, rgba(31, 31, 31, 1) 46%, rgba(31, 31, 31, 1) 68%, rgba(31, 31, 31, 0.98) 78%, rgba(31, 31, 31, 0.95) 100%);
  background: -ms-linear-gradient(top, rgba(5, 5, 5, 0) 0%, rgba(17, 17, 17, 0.85) 21%, rgba(30, 30, 30, 1) 44%, rgba(31, 31, 31, 1) 46%, rgba(31, 31, 31, 1) 68%, rgba(31, 31, 31, 0.98) 78%, rgba(31, 31, 31, 0.95) 100%);
  background: linear-gradient(to bottom, rgba(5, 5, 5, 0) 0%, rgba(17, 17, 17, 0.85) 21%, rgba(30, 30, 30, 1) 44%, rgba(31, 31, 31, 1) 46%, rgba(31, 31, 31, 1) 68%, rgba(31, 31, 31, 0.98) 78%, rgba(31, 31, 31, 0.95) 100%);
  z-index: 0;
  transition: all ease .3s;
}

.bg-gradient-slide h5, .bg-gradient-slide i {
  position: relative;
  z-index: 5;
}

.project-carousel swiper-slide:hover .bg-gradient-slide {
  padding-bottom: 2rem !important;
}

.project-carousel swiper-slide:hover .bg-gradient-slide i {
  color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}

.project-carousel swiper-slide:hover .bg-gradient-slide::after {
  height: 180%;
}

.swipper-gallery-project swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swipper-gallery-project swiper-slide {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.swipper-gallery-project swiper-slide img {
  height: 100%;
}

.swipper-gallery-project {
  height: 80%;
  width: 100%;
}

.swiper-gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-gallery-thumbs swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-gallery-thumbs swiper-slide img {
  width: 100%;
}

.swiper-gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

@media(max-width:599px) {
  .swipper-gallery-project swiper-slide img {
    width: 100% !important;
    height: inherit !important;
  }
}